.reservation-section {
    padding-top: 80px;
}

.reservation-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

/* FORM CARD */
.reservation-form {
    background: var(--clr-green);
    padding: 45px;
    border-radius: 16px;
}

.reservation-form h2 {
    font-size: 70px;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'The Nautigal', sans-serif;
    font-weight: 400;
}

.reservation-subtitle {
    margin-bottom: 35px;
    color: #fff;
}

/* FORM */
.rsvp-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-row {
    display: flex;
    gap: 15px;
}

.form-row input,
.form-row select,
.form-row textarea {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 1rem;
    font-family: inherit;
}

.form-row input:focus,
.form-row select:focus,
.form-row textarea:focus {
    outline: none;
    border-color: #c8a96a;
}

/* INFO TEXT */
.info-text {
    font-size: 0.9rem;
    color: #777;
    margin-top: -5px;
}

/* BUTTON */
.rsvp-button {
    margin-top: 10px;
    background-color: #c8a96a;
    color: white;
    font-weight: 600;
    padding: 14px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.rsvp-button:hover {
    background-color: #b89655;
}

.reservation-image.masonry {
    column-count: 2;
    column-gap: 16px;
}

.reservation-image.masonry img {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 14px;
    display: block;
    break-inside: avoid;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reservation-image.masonry img:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.error-text {
    color: #c0392b;
    margin-top: 10px;
}

.success-text {
    color: #2ecc71;
    margin-top: 10px;
}

.rsvp-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.reservation-form select {
    height: 3rem;
}

/* Tablet */
@media (max-width: 900px) {
    .reservation-image.masonry {
        column-count: 3;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .reservation-form {
        padding: 10px;
    }
    .reservation-image.masonry {
        column-count: 2;
    }
}

/* MOBILE */
@media (max-width: 900px) {

    .reservation-grid {
        grid-template-columns: 1fr;
    }

    .reservation-image {
        order: -1;
    }

    .form-row {
        flex-direction: column;
    }
}



.maintenance-message {
    background: rgba(255,255,255,0.1);
    padding: 12px;
    color: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
}
